<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <title>View component</title>
    
    <!--STYLES-->
    <link rel="stylesheet" href="dependencies/sematic/semantic.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    
  </head>

  <body >
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/jquery.min.js"></script>
    <script src="/dependencies/sematic/semantic.min.js"></script>
    <script src="/dependencies/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0"></script>
    <div class='ui basic segment'>
        <%- include (`../../views/${component?.template}`,story.args) %>
    </div>

  </body>
</html>
